/* Declare global variables for the colour palette. */
:root {
    --red: #be1622;
    --blue: #007fb0;
    --grey: #34516C;
    --forest: #006250;
    --sunrise: #f47721;
    --lake: #0099d2;
    --slate: #577a9b;
    --grass: #339933;
    --gold: #f2be1a;
    --sky: #53b7e8;
    --silver: #919cad;
    --olive: #9bcb4e;
    --light-sky: #a4d3f2;
    --cloud: #c7cbda;
}  

/* Set global styles */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif, serif;
    font-weight: 500;
}

/* ==================== Header Styles ==================== */

/* Primary Navigation Styles */

.nav {
    background-color: var(--red);
    display: block;

    /* Set position and z-index to allow the navigation to display over the "Top" button on products.html. */
    position: relative;
    z-index: 1;
}

.logo {
    /* Set height and width of the logo */
    height: 140px;
    width: auto;
}

.nav-header {
    vertical-align: top;
    display: inline-block; /* Inline-block is used to allow the margin to be changed. */
    margin: 3rem 0 0 0; /* Center the header */
    text-shadow: 1px 1px 4px black; /* Emphasise the title using a small shadow */
    color: white;
    font-size: 2rem;
}

.nav-links {
    list-style-type: none; /* Remove default bullet points. */
    display: inline; /* Display content on the same line. */
}

.nav-link {
    float: right; /* Push to the right of the navbar. */
}

.nav-link a {
    display: block;
    text-decoration: none; /* Remove default text decoration for hyperlinks. */
    color: white;
    margin-top: 2.6rem; /* Center the links inside the navbar */
    font-weight: 500;
    padding: 1rem;

    transition: .3s; /* Adds a transition to the :hover effect to give a smoother look. */
}

.nav-link a:hover, .nav-link .active {
    background-color: #9e111b; /* Change background color slightly when this element is hovered by the mouse. */
}

/* Secondary Navigation Styles */

.burger-icon {
    display: none; /* Hide the burger icon by default */
}

.burger-nav {
    height: 0px; /* Set height to zero so transition duration can be applied. */
    display: block;
    transition: .1s;
}

.burger-links {
    display: none;
}

.show .burger-nav {
    background-color: var(--grey);
    height: 60px;
    transition: .1s;
}
.show .burger-links {
    list-style-type: none;
    display: inline-block;
}
.show .burger-link {
    float: left;
    margin-top: .3rem;

}
.show .burger-link a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    transition: .3s;
}

.show .burger-link a:hover, .show .burger-link .active {
    background-color: #2b4359; 
}

/* Rotate first bar of burger icon */
.animate .bar1 {
    height: 5px;
    margin: 6px 0;

    /* Rotate the first bar to form one half the 'X' character. */
    transform: rotate(-45deg) translate(-6px, 6px);
}

/* Fade out the second bar */
.animate .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.animate .bar3 {
    height: 5px;

    /* Rotate the third bar to form the last half the 'X' character. */
    transform: rotate(45deg) translate(-7px, -8px) ;
}



/* ==================== Page Content Styles ==================== */
.content {
    margin: 1rem auto; /* Automatically center the content using left/right margins */
    width: 55rem;
}

.content h1 {
    color: var(--grey);
    font-size: 2.4rem;
}

.content h2 {
    color: var(--gold);
    font-size: 1.8rem;
}

.content p {
    margin: .6rem 0;
}

/* Set width and height for iFrame embedded YouTube video. */
.youtube-video {
    width: inherit;
    height: 25rem;
}

/* ==================== Footer Styles ==================== */
/* Flexbox is used to evenly display and wrap multiple columns in the footer. */
/* Flexbox parent */
.footer {
    display: flex; /* Enable flexbox. */
    flex-flow: row wrap; /* Shorthand to order from left to right in a row and enable wrapping. */
    justify-content: center; /* Center all children */
    align-items: flex-start; /* Align children to the top */
    background-color: var(--grey);
}

/* Flexbox child */ 
.footer-child {
    flex-grow: 1;
    margin: 1rem;
    color: white;
}

/* Change color of line break */
.dark {
    color: white;
}

/* ==================== Products Styles ==================== */

/* Style the same-page navigation. */
.products-page ul {
    margin: 0;
    display: block;
}

.products-page ul li {
    display: inline-block;    
}

.products-page ul li a {
    display: block;
    padding: .5rem 1rem;
    margin: .5rem 0;
    transition: .3s;
}

.products-page ul li a:hover {
    background-color: var(--slate);
    color: white;
}

/* Style the 'top' button container that will take the user to the top of the page. */
.sticky-top-button {

    /* Set a fixed position at the top of the page. */
    position: fixed; 
    top: 0;

    /* Set a 100% width to create a bar across the whole page. */
    width: 100%;

    /* Set remaining styles. */
    background-color: var(--grey);
    text-align: center;
    padding: 1rem 0;

    /* Apply a Z-index of zero to ensure it is displayed beneath the site's navigation. */
    /* This ensures the 'top' button is only displayed when a user is scrolling down the page. */
    z-index: 0;
}

/* Style the actual 'top' button. */
.sticky-top-button a {

    text-decoration: none;
    color: white;    
    font-weight: 700;
    font-size: 1.2rem;

    padding: 1rem 10rem;
    letter-spacing: .1rem;

    transition: .3s;
}

/* Change the 'top' button's background color when it is hovered by the user. */
.sticky-top-button a:hover {
    background-color: #2b4359;
}

/* Style the FlexBox parent. */
.products-parent {
    display: flex;
    flex-flow: row wrap; /* Display children from left to right and wrap children to fit screen width. */
    justify-content: space-evenly; /* Display children evenly. */
    align-items: flex-start; /* Align a row from the top of each child. */
    gap: 1rem; /* Add a 'gap' in-between each child. */

    margin: 1rem 4rem;
}

/* Style the FlexBox children. */
.products-child {
    flex-grow: 0; /* Keep a consistent width if screen is resized. */
    flex-basis: 25rem; /* Set default size of element. */
    box-shadow: 0 0 8px var(--slate); /* Add a small shadow to add emphasis to a product. */
    border-radius: 4px;
}

/* Style a product's display image. */
.products-child img {

    /* Set dimensions of the product image. */
    width: 20rem;
    height: 20rem;

    /* Set block display and an automatic horizontal margin to keep the image centered. */
    display: block;
    margin: 0 auto;
}

/* Style a product's title. */
.product-desc h3 {
    color: var(--gold);
    text-shadow: 0 0 3px black;
    font-size: 2rem;
}

/* Style a product's description container. */
.product-desc {
    background-color: var(--slate);
    padding: 1rem;
}

/* Style a product's textual description. */
.product-desc p {
    color: white;
}

/* Style a product's price. */
.price {
    font-weight: 700;
    font-size: 1.1rem;
}

/* Style a product's 'Add to cart' button. */
.button {

    /* Remove the default <button> styling. */
    border: none;
    text-decoration: none;

    /* Set the cursor's state when it hovers this button. */
    cursor: pointer;

    /* Set colours. */
    background-color: var(--gold);
    color: black;

    /* Set the button's text styling. */
    padding: .5rem 3rem;
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: .05rem;
    
    /* Round the edges of the element. */
    border-radius: 5px;

    /* Center the button inside it's containter. */
    display: block;
    margin: 0 auto;    

    /* Add transition timer for when :hover is triggered. */
    transition: .3s;
}

/* When the button is hovered by the cursor. */
.button:hover {
    background-color: #bd9413;
    padding: .6rem 3.5rem;
}

/* Slightly different width value for tshirts due to image dimensions no longer being a square. */
.products-child .tshirt {
    width: 16rem;
}

/* ==================== Shopping Cart Styles ==================== */

/* Set width and automatic horizontal margin for the main container. */
.cart-content {
    display: block;
    width: 90rem;
    margin: 1rem auto;
}

.cart-content h1 {
    color: var(--gold);
    font-size: 2.4rem;
}

.cart-content table {

    /* Set 100% width to fill container. */
    width: 100%;

    box-shadow: 0 0 4px var(--slate);
}

/* Add a border around each cell */
.cart-content table, .cart-content th, .cart-content td {
    border: 1px solid white;
    border-collapse: collapse; /* Touching borders are 'collapsed' into one, ensuring the border-width is always 1px. */
}

/* Style the table headings. */
.cart-content table thead tr th {
    background-color: var(--slate);
    color: white;
    font-size: 1.4rem;
    padding: 1rem;
}

/* Style the table body. */
.cart-content table tbody tr td {
    background-color: var(--cloud);
    color: black;
    width: 24%;
    text-align: center;
}

/* Give the first column a lesser width. */
.cart-content table tbody tr td:nth-child(1), .cart-content table tbody tr td:nth-child(2) {
    width: 8%;
    border-right: none;
}

/* Add font styles to the 4th column (product name). */
.cart-content table tbody tr td:nth-child(4) {
    font-weight: 700;
    font-size: 1.1rem;
}

/* Set dimensions of images inside the table. */
.cart-content table tbody tr td img {
    width: 10rem;
    height: 10rem;
    margin-top: 1rem;
}

/* Set styles of the Remove button. */
.cart-content .remove-button {
    text-decoration: none;
    color: white;
    background-color: var(--red);
    padding: .5rem;
    border-radius: 5px;
    box-shadow: 0 0 4px var(--slate);
    cursor: pointer;
    border: none;

    transition: .3s;
}

/* When a remove button is hovered. */
.cart-content .remove-button:hover {
    background-color: #9e111b;
}

/* Style the table footer. */
.cart-content table tfoot tr td {
    background-color: var(--slate);
    color: white;
    text-align: right;
    border: none;
    font-weight: 700;
    padding: .5rem;
}

/* Style the table body when there are no items in the shopping cart. */
.cart-content table tbody tr .empty {
    padding: 10rem;
}

/* Class to hide an element. */
.hidden {
    display: none;
}

/* ==================== View Item Styles ==================== */

.item-container {
    width: 50rem;
    display: block;
    margin: 1rem auto;

    box-shadow: 0 0 5px var(--slate);
    border-radius: 4px;
}

.item-container img {
    width: 40rem;
    display: block;
    margin: 0 auto;
}

.item-desc {
    background-color: var(--slate);
    color: white;
    padding: 1rem;
}

.item-desc h3 {
    color: var(--gold);
    font-size: 2rem;
}

/* Styles for screen sizes less than 1480px and more than 1080px. */
@media only screen and (max-width: 1480px) {
    .cart-content {
        width: 65rem;
    }
}

/* Styles for screen sizes less than 1080px and more than 800px (laptops) */
@media only screen and (max-width: 1080px) {
    .content {
        width: 45rem;
    }
    .content h1 {
        font-size: 2rem;
    }

    .content h2 {
        font-size: 1.7rem;
    }

    .cart-content {
        width: 45rem;
    }

    .cart-content table thead tr th {
        font-size: 1.2rem;
    }

    .item-container {
        width: 45rem;
    }

    .item-container img {
        width: 35rem;
    }
}

/* Styles for screen sizes less than 800px and more than 500px (tablets, horizontal smart phone) */
@media only screen and (max-width: 800px) {
    
    /* Hide primary navigation */
    .nav-links {
        display: none;
    }

    /* Position the burger icon */
    .burger-icon {
        display: inline;
        float: right;
        cursor: pointer;
        margin-top: 3rem;
        margin-right: 1rem;
        padding: .3rem .5rem;

        transition: .3s;
    }

    .burger-icon:hover {
        background-color: #9e111b;
    }

    /* Display the burger icon */
    .bar1, .bar2, .bar3 {
        width: 1.8rem;
        height: .2rem;
        background-color: white;
        margin: .3rem 0;
        transition: .4s;     
    }

    .logo {
        height: 120px;
    }

    .nav-header {
        font-size: 1.5rem;
    }

    .content {
        width: 30rem;
    }

    .content h1 {
        font-size: 1.6rem;
    }

    .content h2 {
        font-size: 1.4rem;
    }

    .content p {
        font-size: 1rem;
        margin: .4rem 0;
    }

    .youtube-video {
        height: 17rem;
    }

    .cart-content {
        width: 30rem;
    }

    .cart-content table tbody tr td img {
        width: 8rem;
        height: 8rem;
    }

    .cart-content table thead tr th {
        font-size: 1rem;
    }

    .cart-content table tbody tr td:nth-child(4) {
        font-size: 1rem;
    }

    .cart-content .remove-button {
        font-size: .7rem;
    }

    .item-container {
        width: 30rem;
    }

    .item-container img {
        width: 25rem;
    }

}
/* Styles for screen sizes less than 500px (smartphones) */
@media only screen and (max-width: 500px) {
    
    .logo {
        height: 100px;
    }

    .nav-header {
        font-size: 1.3rem;
    }

    .burger-icon {
        margin-top: 2.4rem;
    }

    .content {
        width: 24rem;
    }

    .content h1 {
        font-size: 1.3rem;
    }

    .content h2 {
        font-size: 1.2rem;
    }

    .content p {
        font-size: 0.9rem;
        margin: .3rem 0;
    }

    .youtube-video {
        height: 13rem;
    }

    .cart-content {
        width: 24rem;
    }

    .cart-content table tbody tr .empty {
        padding: 6rem;
    }

    .cart-content table tbody tr td img {
        width: 6rem;
        height: 6rem;
    }

    .cart-content .remove-button {
        font-size: .7rem;
        padding: .3rem .2rem;
    }

    .item-container {
        width: 20rem;
    }

    .item-container img {
        width: 15rem;
    }

    .item-desc h3 {
        font-size: 1.4rem;
    }
    .item-desc p {
        font-size: .8rem;
    }

    .item-desc button {
        font-size: .9rem;
    }
}

/* Styles for screen sizes less than 400px. */
@media only screen and (max-width: 400px) {
    .logo {
        height: 70px;
    }

    .nav-header {
        margin-top: 1.5rem;
        font-size: 1.2rem;
    }
    .burger-icon {
        margin-top: 1rem;
    }

    .content {
        width: 20rem;
    }

    .products-page ul {
        font-size: .8rem;
    }

    .products-child img {
        width: 18rem;
        height: 18rem;
    }

    .product-desc h3 {
        font-size: 1.5rem;
    }

    .sticky-top-button a {
        font-size: 1rem;
        padding: 1rem 5rem;
    }

    .item-container {
        width: 17rem;
    }
}

/* Styles for screen sizes less than 340px. */
@media only screen and (max-width: 340px) {

    .logo {
        height: 60px;
    }

    .nav-header {
        font-size: 1rem;
    }

    .burger-icon {
        margin-top: .85rem;
    }

    .content {
        width: 17rem;
    }

    .youtube-video {
        height: 10rem;
    }
    
    .products-page ul {
        font-size: .7rem;
        padding-left: 1rem;
    }

    .products-child img {
        width: 16rem;
        height: 16rem;
    }
}

/* Styles for screen sizes less than 290px. */
@media only screen and (max-width: 290px) {

    .logo {
        height: 50px;
    }

    .nav-header {
        font-size: .9rem;
        margin-top: 1.3rem;
    }

    .burger-icon {
        margin-top: .5rem;
    }

    .burger-links {
        padding-left: 1rem;
    }
    
    .content {
        width: 15rem;
    }

    .products-page ul li a{
        padding: .5rem .8rem;
    }

    .item-container {
        width: 15rem;
    }
}